.section {
	background-color: var(--background-1);
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
}

strong {
	color: var(--primary-color);
}

.services__content {
	display: flex;
	flex-direction: column;
}

.title__services {
	font-family: var(--font-poppins);
	font-style: 700;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 3.375rem;
	color: var(--dark-color);
	text-align: center;
	padding-bottom: 0.75rem;
}

.subscription__services {
	font-family: var(--font-dm-sans);
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.438rem;
	color: var(--dark-color);
	text-align: center;
	padding-bottom: 4rem;
}

.services__card {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-bottom: 10rem;
}

@media screen and (max-width: 768px) {
	.section {
		padding-top: 5rem;
	}

	.services__card {
		display: flex;
		flex-direction: column;
		padding-bottom: 5rem;
	} 

	.title__services {
		text-align: left;
		padding-left: 1.5rem;
	}

	.subscription__services {
		font-size: 1rem;
		padding: 0 1.5rem 4rem;
		text-align: left;
	}
}