:root {
    --dark-color: #0F241D;
    --primary-color: #69B99D;
    --second-color: #CCF4E6;
    --background-1: #F9F9F9; 
    --background-2: #FFFFFF;
    --color-text: #767676;

    --font-poppins: 'Poppins', sans-serif; 
    --font-dm-sans: 'DM Sans', sans-serif;
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.slick-dots li button:before {
    width: 12px;
    height: 12px;
    color: #E4E4E4;
    font-size: 12px;
    margin-left: -8px;
}

.slick-dots li.slick-active button:before {
    color: #69B99D;
}

.slick-dots li {
    margin: 1px;
}