.container__hero {
    display: flex;
    background-color: var(--background-1);
    padding-bottom: 10.75rem;
}

.content {
    margin-top: 11.125rem;
    margin-left: 7.688rem;
}

.title__hero {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: var(--dark-color);
    padding-bottom: 0.75rem;
}

.text__hero {
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: var(--color-text);

    padding-bottom: 1.5rem;
}

.button__schedule {
    background-color: var(--primary-color);
    color: var(--background-1);
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.313rem;
    
    width: 13.625rem;
    height: 3.125rem;

    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button__schedule:hover {
    background-color: #5a9d8f;
    color: var(--background-2);
}


.background {
    position: absolute;
    margin-left: 12.188rem;
    margin-top: 5.25rem;
    background-color: var(--second-color);
    height: 25.313rem;
    width: 36.313rem;
    border-radius: 4px;
    padding-top: 5.25rem;
}

.photoHero {
    margin-left: 7.375rem;
    margin-top: 9.5rem;
    position: relative;
    z-index: 1;
}


@media screen and (max-width: 768px) {
  .container__hero {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  .title__hero {
    font-size: 1.875rem;
    line-height: normal;
  }

  .text__hero {
    font-size: 1rem;
    line-height: normal;
  }

  .photoHero {
    width: 100%;
    margin: 4.5rem auto 0 auto;
    margin-top: 4.5rem;
  }

  .background  {
    width: 347px;
    height: 242.269px;
    margin-top: 0;
    margin-left: 3.188rem;
    display: none;
  }
  
  .backgrounds {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    margin: 2rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}
