.layout-container {
  max-width: 72rem;
  margin: 2rem auto;
  padding: 2rem;
  height: calc(100vh - 10rem);
}

.nav-bar {
  ul {
    list-style: none;
    display: flex; 
    gap: 2rem;
    margin: 2rem 0;
    margin-left: -38px;
    
    a {
      background-color: thistle;
      padding: 0.5rem;
      border-radius: 4px;
    }
  }
}