.container__section {
  background-color: var(--background-2);
  padding: 10rem 0 10rem;
}

.title {
  text-align: center;
  color: var(--dark-color, #0F241D);
  font-size: 36px;
  font-family: var(--font-poppins);
  font-weight: 700;
  margin-bottom: 4rem;
}

.container__swiper {
  margin: 0 7.688rem 0;
}

.container__slide {
  width: 544px;

  margin-bottom: 4.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 52px;

  gap: 24px;

  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}

.slide__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description {
  color: var(--dark-color);
  font-size: 1rem;
  font-family: var(--font-dm-sans);
  line-height: 1.625rem;
}

.name {
  color: var(--color-text);
  font-size: 1rem;
  font-family: var(--font-dm-sans);
  font-weight: 400;
  line-height: 1.75rem;
}

.quotes {
  color: var(--primary-color);
  font-size: 30px;
  font-family: 'Georgia', serif;
  line-height: 1.75rem;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1.875rem;
  }

  .container__slide {
    width: 327px;
    padding: 32px;


    display: flex;

  }

  .description {
    font-size: 1rem;
  }
}