* {
  text-decoration: none;
}

$primary-color: linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));
$font-size: 16px;

body {
  background-image: $primary-color;
  font-size: $font-size;
  color: white;
  font-weight: 600;
}