.card {
  width: 34rem;
  height: 16.5rem;
  background-color: var(--background-2);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card__item {
  display: flex;
  align-items: center;
}

.card__description {
  font: normal 400 1rem 1.625rem var(--font-dm-sans);
  color: var(--dark-color);
  padding: 3.25rem 3.25rem 1.5rem 3.25rem;
}

.card__photo {
  padding-left: 3.25rem;
}

.card__name {
  font: normal 400 1rem 1.75rem var(--font-dm-sans);
  color: var(--color-text);
  padding-left: 0.5rem;
}