.header {
    display: flex;
    justify-content: space-around;
    background-color:  --background-1;
} 

.menu {
    list-style: none;
    display: flex;
    align-items: end;
    gap: 2rem;
}

.menu__item {
    padding: 1.563rem 0;
}

.menu__link {
    color: var(--dark-color);
    font-family: var(--font-dm-sans);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
}

.menu__link:hover {
    color: var(--second-color);
}
